.pink-sperm
    top: 170px
    left: 340px

    width: 900px
    height: 200px

    transform: rotate(25deg)
    background: url('../../img/pink_sperm_1.png') center center/contain no-repeat

    // animation-duration: 10s
    // animation-iteration-count: infinite
    // animation-name: light-blue-bulb
    // animation-timing-function: linear
