@keyframes fadeIn 
    from 
        opacity: 0
    
    to
        opacity: 1

@keyframes fadeOut 
    from 
        opacity: 1
    
    to
        opacity: 0


@keyframes bakti-1_anim
    0%
        transform: translate(0, 0)

    25%
        transform: translate(20px, 30px)

    75%
        transform: translate(-20px, -30px)

    100%
        transform: translate(0, 0)

@keyframes big-blue-thing
    0%
        transform: translate(0, 0) scale(1)

    25%
        transform: translate(-10px, 10px) scale(1.1)

    50%
        transform: translate(-20px, 0px) scale(1)

    75%
        transform: translate(-10px, 10px) scale(1.1)

    100%
        transform: translate(0, 0) scale(1)


@keyframes bakti-2_anim
    0%
        transform: translate(0, 0) scale(1)

    50%
        transform: translate(-30px, -10px) scale(1.3)

    100%
        transform: translate(0, 0) scale(1)


@keyframes blue-corona
    0%
        transform: translate(0, 0) rotate(0)

    25%
        transform: translate(-50px, -20px) rotate(90deg)

    50%
        transform: translate(-70px, -50px) rotate(180deg)
    
    75%
        transform: translate(-20px, -50px) rotate(270deg)
    
    100%
        transform: translate(0, 0) rotate(360deg)



//second slide

@keyframes sperm-appearence 
    0%
        transform: translate(60px, 20px)
        opacity: 0

    40%
        transform: translate(30px, 15px)
        opacity: 0

    60%
        transform: translate(15px, 5px)
        opacity: 0.3

    80%
        transform: translate(8px, 2px)
        opacity: 0.6

    80%
        transform: translate(5px, 2px)
        opacity: 0.8 

    100%
        transform: translate(0px, 0)
        opacity: 1
    
//bottle

@keyframes light-blue-bulb
    0%
        transform: translate(0, 0)

    50%
        transform: translate(50px, 10px)

    100%
        transform: translate(0px, 0px)
    

@keyframes light-blue-bulb_2
    0%
        transform: translate(0px, 0px) 

    25%
        transform: translate(40px, 30px) 

    50%
        transform: translate(30px, -30px) 

    75%
        transform: translate(40px, 30px) 

    100%
        transform: translate(0px, 0px) 


@keyframes dark-pink-bulb
    0%
        transform: translate(0, 0)

    50%
        transform: translate(50px, 10px)

    100%
        transform: translate(0px, 0px)



@keyframes light-pink-bulb
    0% 
        transform: translate(0px, 0px) scale(1) 

    25% 
        transform: translate(40px, 25px) scale(1) 

    50% 
        transform: translate(-10px, 60px) scale(1.2) 

    75% 
        transform: translate(40px, 25px) scale(1)

    100% 
        transform: translate(0px, 0px) scale(1)


@keyframes light-blue-bulb_3
    0%
        transform: translate(0, 0)

    50%
        transform: translate(50px, 10px)

    100%
        transform: translate(0px, 0px)




@keyframes light-pink-bulb_2
    0%
        transform: translate(0, 0) scale(1)

    50%
        transform: translate(40px, 10px) scale(1.3)

    100%
        transform: translate(0px, 0px) scale(1)



@keyframes light-blue-bulb_4
    0%
        transform: translate(0, 0) scale(1)

    50%
        transform: translate(40px, 10px) scale(1.3)

    100%
        transform: translate(0px, 0px) scale(1)


@keyframes dark-blue-bulb

  0%
      transform: translate(0px, 0px) scale(1) 

  50%
      transform: translate(-5px, -2px) scale(1.3) 

  100%
      transform: translate(0px, 0px) scale(1) 





.fadeIn 
    animation: fadeIn 1s
   
.fadeOut
    animation: fadeOut 1s

.transition
    transition: all 1s easy-in
      
